---
title: Bar
layout: false
---

extends /layouts/base.jade

block append styles
  link(rel="stylesheet", href="/assets/highlight.css")

block contents

  p.
    This file has `layout: false` and can therefore extend a layout to change
    multiple blocks.

  :markdown
    # Some markdown in jade

    ``` js
    var express = require('express');
    var app = express();

    app.get('/', function (req, res) {
      res.send('Hello World!');
    });

    app.listen(3000, function () {
      console.log('Example app listening on port 3000!');
    });
    ```
